DISCORD_WEBHOOK_URL_MAINNET=
DISCORD_WEBHOOK_URL_PRATER=
DISCORD_WEBHOOK_URL_GNOSIS=

BEACONCHAIN_ENDPOINT_MAINNET=https://beaconcha.in
BEACONCHAIN_ENDPOINT_GNOSIS=https://beacon.gnosischain.com
BEACONCHAIN_ENDPOINT_PRATER=https://prater.beaconcha.in

EXEC_EXPLORER_MAINNET=https://etherscan.io/block/
EXEC_EXPLORER_PRATER=https://goerli.etherscan.io/block/
EXEC_EXPLORER_GNOSIS=https://blockscout.com/xdai/mainnet/block/

BEACONCHAIN_API_KEY=

MYSQL_HOST=
MYSQL_USER=
MYSQL_PORT=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_SSL=false
